.button {
  justify-content: center;
  align-items: center;
  display: flex;
  /* transition: all 0.5s ease; */
  border-radius: 4px;
  width: 84px;
  height: 24px;
  padding: 10px 20px;
}

.link__button {
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 0.5s ease;
  box-shadow: 20px 38px 34px -26px var(--button-shadow);
  border: solid 2px var(--border-color);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  width: 84px;
  height: 24px;
  padding: 6px;
  background-color: var(--background-color);
  font-size: var(--font-medium);
  text-decoration: none;
  letter-spacing: 1px;
  color: var(--color-primary);
}

.link__button:focus,
.link__button:hover {
  box-shadow: 2px 8px 4px -6px var(--button-hover-shadow);
  background-color: var(--button-hover-background);
}
