.text {
  margin-bottom: 0;
  color: var(--color-black);
  font-family: var(--main-font-family);
  text-shadow: 0.2px 0px var(--color-black);
  letter-spacing: var(--letter-spacing);
}

.text__header {
  margin-top: 0;
  font-size: var(--font-large);
}

.text__paragraph {
  margin-top: 20px;
  font-size: var(--font-regular);
}
