@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

:root {
  --main-font-family: MedievalSharp;
  --font-large: 24px;
  --font-medium: 20px;
  --font-regular: 16px;
  --letter-spacing: 1px;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #a5973d;
  --border-color: #41403e;
  --background-color: #00000066;
  --button-shadow: #00000033;
  --button-hover-shadow: #0000004d;
  --button-hover-background: #00000099;
  --card-background: #ffffff60;
  --card-shadow: #1f26875e;
}

body {
  font-family: var(--main-font-family);
  background-color: var(--color--black);
  margin: 0;
}
